.prim-btn{
border: 2px solid #631a64;
background-color: #631a64;
color: white;
padding: 0.25rem 0.5rem
}
.sec-btn{
  border: 2px solid #631a64;
  background-color: #F4EDE4;
  color: #631a64;
  padding: 0.25rem 0.5rem
}
.prim-color{
  color:  #631a64 !important;
}
.body{
  background-color:#F4EDE4 !important;
}

.prim-btn:hover{
 background-color: white;
 color: #631a64;

}
.sec-btn:hover{
  color: white;
  background-color: #631a64;
 }

 .tert-btn{
  background-color: #36C5F0;
  border: 2px solid #36C5F0;
  color: white
 }
